$mainCol: #03a9f4;
$fontEssCol: #ecfa4d;
$white: #ffffff;
$signInCol: #0287c3;
$orange: #f75e2e;
$welcomeCol: #0286c3;
$mihCol: #323538;
$parTextCol: #51555a;
$hTextCol: #1e2021;
$dropDownItemBg: #f6f9f9;
$dropDownItemTextCol: #656a70;

$borderButton: 1px solid #1088c7;
$borderDropDownItem: 1px solid #d8dadb;

$subitemShadow: 0 4px 20px rgba(202, 202, 202, 0.25);