<form nz-form (ngSubmit)="submitAdd()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="title" type="text" id="title" [(ngModel)]="product.title">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="description" type="text" id="description" [(ngModel)]="product.description">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="price">Price</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="price" type="number" id="price" [(ngModel)]="product.price">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="imageURL">Image</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="imageURL" type="text" id="imageURL" [(ngModel)]="product.imageURL">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
