@model StoreCS.Models.AdminViewModel
@{
    ViewBag.Title = "Admin";
}

<div class="container">


    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Email
            </th>

            <th>
                Roles
            </th>

            <th>
                Action
            </th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                @using (Html.BeginForm("Admin", "Home", new { id = user.Id }, FormMethod.Post))
                {
                    <td>
                        <select name="role" class="form-control">
                            @foreach (var role in Model.Roles)
                            {
                                <option selected=@user.Role>@role</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn-sm btn-success">Set</button>
                    </td>
                }
            </tr>
        }
    </table>


</div>