$headerBg: #b0a3a9;
$itemCol: #7a6666;
$hoverCol: #cb3362;
$nProdBg: #eae7e8;
$twistedCol: #e32a62;
$newPrCol:#7a6666;
$descrTextCol:#837c76;
$addCol: #c8c10d;
$addTextCol: #ffffff;
$mrgAdd: 12%;
$footerCol: #cb3362;
$iconCol: #ffffff;