.div {
    border: 1px solid black;
}

.main {
    height: 600px;
    width: 100%;
}

.top {
    height: 13%;
    background-color: burlywood;
}

.left-sidebar {
    height: 26%;
    width: 18%;
    float: left;
    background-color: cornflowerblue;
}

.right-sidebar {
    height: 26%;
    width: 18%;
    float: right;
    background-color: darkkhaki;
}

.bottom {
    clear: both;
    height: 86%;
    width: 62%;
    margin: 0 auto;
    background-color: darkgreen;
}