<nz-table
    #myTable
    [nzData]="products"
    nzTableLayout="fixed"
>
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn">{{ column.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of myTable.data">
            <td>{{ data.id }}</td>
            <td>
                <img
                    class="my-img"
                    [src]="data.imageURL"
                >
            </td>
            <td>{{ data.title }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.description }}</td>
        </tr>
    </tbody>
</nz-table>
