<div class="card">
    <img
        class="card-img-top my-card-img"
        [src]="currentEvent.imageURL"
        [alt]="currentEvent.name"
    >
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
                <h5 class="card-title">{{currentEvent.name}}</h5>
                <p class="card-text">{{currentEvent.startDate}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <i
                    *ngIf="currentEvent.isPrior===false"
                    (click)="setPriority()"
                    class="far fa-star my-icon my-star-icon"
                    title="Prior"
                ></i>
                <i
                    *ngIf="currentEvent.isPrior===true"
                    (click)="setPriority()"
                    class="fas fa-star my-icon my-star-icon"
                    title="Unprior"
                ></i>


                <i
                    *ngIf="currentEvent.isDone===false"
                    (click)="setIsDone()"
                    class="fas fa-check my-icon my-icon-undone"
                    title="Done"
                ></i>
                <i
                    *ngIf="currentEvent.isDone===true"
                    (click)="setIsDone()"
                    class="fas fa-check my-icon my-icon-done"
                    title="Undone"
                ></i>



                <i
                    *ngIf="currentEvent.isHidden===false"
                    (click)="setIsHidden()"
                    class="fas fa-eye my-icon my-eye-icon"
                    title="Hide"
                ></i>
                <i
                    *ngIf="currentEvent.isHidden===true"
                    (click)="setIsHidden()"
                    class="fas fa-eye-slash my-icon my-eye-icon"
                    title="Unhide"
                ></i>


                <i
                    (click)="editClick()"
                    class="fas fa-pen my-icon my-edit-icon"
                    title="Edit"
                ></i>
            </div>
        </div>
        <app-tasks-list></app-tasks-list>
    </div>
</div>
