.my-card {
  margin: 10px;
}

.my-card-img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  max-width: 250px;
  min-height: 250px;
}

.my-icon {
  color: rgb(255, 217, 0);
  font-size: 25px;
}

.my-icon:hover {
  cursor: pointer;
}

.my-eye-icon {
  font-size: 25px;
}

.my-eye-icon:hover {
  cursor: pointer;
}
