@model IEnumerable<GameStoreUI.Models.GenreViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@{
    Html.RenderPartial("Partial/Sidebar");
}
<div class="content-wrapper">
    <div class="container my-container" id="genres">
        @{
            Html.RenderPartial("Partial/GenresPartial", Model);
        }
    </div>
</div>