<div class="mr-2 my-add-form">
    <h3>Add event</h3>
    <input
        class="form-control"
        type="text"
        placeholder="Name"
    >
    <input
        class="form-control"
        type="text"
        placeholder="Image URL"
    >
    <input
        class="form-control"
        type="text"
        placeholder="Description"
    >
    <input
        class="form-control"
        type="date"
        title="When will it start?"
    >
    <button
        class="btn-sm btn-primary"
    >
        Submit
    </button>
</div>
<app-add-task></app-add-task>
