$defaultWidth: 100%;
$defaultHeight: 100%;
$mainBlueCol: #0f4372;
$textColWhite: #d5e1df;
$textColGray: #737067;
$textColBlack: #0b0000;
$flightsContainerBgCol: #f5f5f5;
$sidebarBgCol: #ffffff;
$tdH4Col: #4a3f45;
$tdPCol: #9e9e9c;
$thCol: #33557a;
$aCol: #6e8994;
$borderTable: 1px solid #917878 !important;