@import "flight-mixins.scss";
@import "flight-variables.scss";

$defaultWidth: 100%;
$defaultHeight: 100%;
$mainBlueCol: #0f4372;
$textColWhite: #d5e1df;
$textColGray: #737067;
$textColBlack: #0b0000;
$flightsContainerBgCol: #f5f5f5;
$sidebarBgCol: #ffffff;

* {
    margin: 0;
}

html,
body {
    height: $defaultHeight;
    width: $defaultWidth;
    margin: 0 auto;
}

div {
    display: flex;
}

.main-container,
.flights-container,
.left,
.right {
    flex-direction: column;
}

.main-container {
    width: $defaultWidth;
    height: $defaultHeight;
    justify-content: center;
    align-items: center;
}

.header {
    width: $defaultWidth;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: $mainBlueCol;
}

.header-text,
.header-current-location {
    color: $textColWhite;
}

.header-text,
.flight-types,
.search-bar {
    margin-left: 5%;
}

.header-current-location {
    margin-right: 5%;
}

.flights-container {
    width: $defaultWidth;
    height: 85%;
    background-color: $flightsContainerBgCol;
}

.flight-types,
.search-bar,
.sidebars {
    margin-top: 2%;
    flex-direction: row;
}

.flight-types {
    * {
        margin-right: 0.5%;
    }
}

.round-trip {
    margin-left: 2%;
}

.search-bar {
    * {
        margin-right: 1%;
        width: 19%;
        height: 100%;
    }

    select {
        option {
            span {
                color: gray;
            }
        }
    }
}

.search-btn {
    background-color: $mainBlueCol;
    color: $textColWhite;
    font-size: 16px;
    border: 1px solid $mainBlueCol;
    border-radius: 30%;
    width: 140px;
    height: 40px;
}

.sidebars {
    width: $defaultWidth;
}

.left {
    margin-left: 5%;
    background-color: $sidebarBgCol;
}

.checkbox-container {
    * {
        margin-right: 2%;
    }
}

.price-container {
    * {
        margin-right: 2%;
    }

    h5 {
        font-size: 20px;
        text-align: center;
    }
    input{
        height: 30px;
        text-align: center;
        font-size: 20px;
    }
}