$mainBg: #e55d45;
$formBg: #e6e4e5;
$inputBg: #ffffff;
$btnCol: #32a759;
$plholCol: #ccc8c7;
$btnTextCol: #e8fdee;
$forgotCol: #dd6145;
$parCol: #fbdfc9;
$fbCol: #3a5ba0;
$twCol: #1cb8eb;

$maxWidthMain: 500px;

$maxWidthForm: 300px;

$defaultWidth: 100%;
$defaultHeight: 100%;