* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

div {
  display: flex;
}

.main-container,
.flights-container,
.left,
.right {
  flex-direction: column;
}

.main-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  background-color: #0f4372;
}

.header-text,
.header-current-location {
  color: #d5e1df;
}

.header-text,
.flight-types,
.search-bar {
  margin-left: 5%;
}

.header-current-location {
  margin-right: 5%;
}

.flights-container {
  width: 100%;
  height: 85%;
  background-color: #f5f5f5;
}

.flight-types,
.search-bar,
.sidebars {
  margin-top: 2%;
  flex-direction: row;
}

.flight-types * {
  margin-right: 0.5%;
}

.round-trip {
  margin-left: 2%;
}

.search-bar * {
  margin-right: 1%;
  width: 19%;
  height: 100%;
}
.search-bar select option span {
  color: gray;
}

.search-btn {
  background-color: #0f4372;
  color: #d5e1df;
  font-size: 16px;
  border: 1px solid #0f4372;
  border-radius: 30%;
  width: 140px;
  height: 40px;
}

.sidebars {
  width: 94%;
}

.left {
  margin-left: 5%;
  width: 23%;
  background-color: #ffffff;
}
.left * {
  margin-left: 0.8%;
}

.stops,
.prices,
.airlines {
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
}

.checkbox-container * {
  margin-right: 2%;
}

.price-container {
  width: 50%;
}
.price-container * {
  margin-right: 2%;
}
.price-container h5 {
  font-size: 20px;
  text-align: center;
}
.price-container input {
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.h4-left {
  color: #0f4372;
  font-weight: bold;
}

.right {
  width: 73%;
  margin-left: 1%;
  margin-right: 1%;
}

.right-header,
.table-cell {
  flex-direction: column;
}

.right-header {
  margin-bottom: 2%;
  background-color: #ffffff;
  min-width: 100%;
  min-height: 30%;
  justify-content: center;
}
.right-header h2 {
  text-align: center;
}

.flights-table {
  border: 1px solid #917878 !important;
  border-spacing: 0;
}
.flights-table th {
  color: #33557a;
}
.flights-table td {
  text-align: center;
}
.flights-table tr,
.flights-table td {
  background-color: #ffffff;
  border-bottom: 1px solid #917878 !important;
}

.flights-table tr:first-child th {
  border-bottom: 1px solid #917878 !important;
}

.table-cell {
  align-items: center;
}
.table-cell h4 {
  color: #4a3f45;
}
.table-cell p {
  color: #9e9e9c;
}
.table-cell input[type=button] {
  background-color: #0f4372;
  color: #d5e1df;
  font-size: 16px;
  border: 1px solid #0f4372;
  border-radius: 30%;
  width: 50px;
  height: 30px;
}
.table-cell a {
  display: block;
  text-decoration: none;
  color: #6e8994;
}